/template/backend/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0
/template/backend/src/Ambev.DeveloperEvaluation.IoC/obj
/template/backend/src/Ambev.DeveloperEvaluation.Application/obj
/template/backend/src/Ambev.DeveloperEvaluation.Common/obj
/template/backend/src/Ambev.DeveloperEvaluation.Domain/obj
/template/backend/tests/Ambev.DeveloperEvaluation.Functional/obj
/template/backend/tests/Ambev.DeveloperEvaluation.Integration/obj
/template/backend/src/Ambev.DeveloperEvaluation.ORM/obj
/template/backend/obj
/template/backend/src/Ambev.DeveloperEvaluation.WebApi/obj
/template/backend/tests/Ambev.DeveloperEvaluation.Unit/obj
/template/backend/tests/Ambev.DeveloperEvaluation.Functional/bin
/template/backend/tests/Ambev.DeveloperEvaluation.Integration/bin
/template/backend/tests/Ambev.DeveloperEvaluation.Unit/bin
/template/backend/.vs
/template/backend/src/Ambev.DeveloperEvaluation.WebApi/Ambev.DeveloperEvaluation.WebApi.csproj.user
/template/backend/bin
/template/backend/src/Ambev.DeveloperEvaluation.Application/bin
/template/backend/src/Ambev.DeveloperEvaluation.Common/bin
/template/backend/src/Ambev.DeveloperEvaluation.Domain/bin
/template/backend/src/Ambev.DeveloperEvaluation.IoC/bin
/template/backend/src/Ambev.DeveloperEvaluation.ORM/bin
/template/backend/src/Ambev.DeveloperEvaluation.WebApi/bin
/template/backend/src/DeveloperEvaluation.Application/bin
/template/backend/src/DeveloperEvaluation.Application/obj
/template/backend/src/DeveloperEvaluation.Common/obj
/template/backend/src/DeveloperEvaluation.Domain/obj
/template/backend/src/DeveloperEvaluation.IoC/obj
/template/backend/src/DeveloperEvaluation.ORM/obj
/template/backend/src/DeveloperEvaluation.WebApi/obj
/template/backend/tests/DeveloperEvaluation.Functional/obj
/template/backend/tests/DeveloperEvaluation.Unit/obj
/template/backend/tests/DeveloperEvaluation.Integration/obj
/template/backend/tests/DeveloperEvaluation.Functional/bin
/template/backend/src/obj
/template/backend/src/Ambev.DeveloperEvaluation.Infrastructure/bin
/template/backend/src/Ambev.DeveloperEvaluation.Infrastructure/obj
/.vs
/template/.vs
/template/tests/Ambev.DeveloperEvaluation.Integration/obj
/template/src/Ambev.DeveloperEvaluation.WebApi/obj
/template/tests/Ambev.DeveloperEvaluation.Unit/obj
/template/tests/Ambev.DeveloperEvaluation.Functional/obj
/template/src/Ambev.DeveloperEvaluation.ORM/obj
/template/src/Ambev.DeveloperEvaluation.Domain/obj
/template/src/Ambev.DeveloperEvaluation.Common/obj
/template/src/Ambev.DeveloperEvaluation.IoC/obj
/template/src/Ambev.DeveloperEvaluation.Application/obj
/template/tests/Ambev.DeveloperEvaluation.Unit/bin
/template/tests/Ambev.DeveloperEvaluation.Integration/bin
/template/tests/Ambev.DeveloperEvaluation.Functional/bin
/template/src/Ambev.DeveloperEvaluation.WebApi/bin
/template/src/Ambev.DeveloperEvaluation.ORM/bin
/template/src/Ambev.DeveloperEvaluation.IoC/bin
/template/src/Ambev.DeveloperEvaluation.Infrastructure/obj
/template/src/Ambev.DeveloperEvaluation.Infrastructure/bin
/template/src/Ambev.DeveloperEvaluation.Domain/bin
/template/src/Ambev.DeveloperEvaluation.Application/bin
/template/obj
/template/bin
/template/src/Ambev.DeveloperEvaluation.Common/bin
