<!-- <!DOCTYPE html> -->
   <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Perfil de Thiberio Azevedo Barreto</title>
   </head>
   <body>
   <div class="container mt-5">
      <div class="card">
         <div class="card-body">
         <h1 class="card-title">Thiberio Azevedo Barreto</h1>
         <p class="card-text">
            <strong>Front:</strong> Angular 14 <br>
            <strong>Back:</strong> Net Core 8 <br>
            <strong>Email:</strong> thiberio.azevedo@gmail.com <br>
            <strong>Telefone/Whatsapp:</strong> (85)99745-6520 <br>
            <strong>LinkedIn:</strong> 
            <a href="https://www.linkedin.com/in/thiberioazevedo" target="_blank"> https://www.linkedin.com/in/thiberioazevedo</a>
         </p>
         </div>
      </div>
   </div>
   </body>
<!-- </html> -->